
@{
    ViewData["Title"] = "OrderConfirmation";
}

<h1>Order Confirmation</h1>
@if (ViewBag.orderid > 0)
{
    <h2>You Have Successfully Placed an Order with Order Id no : @ViewBag.orderid </h2>
}


