@model IEnumerable<ComeMyFishMarket.Models.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Seller List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Seller Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.Role.Equals("Customer"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="CustomerProduct" asp-controller="Products" asp-route-userid="@item.RegUserID">View Products</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>


